#editor {
    position: absolute;
    top: 10.6%;
    right: 0;
    bottom: 0;
    left: 0;
    /* margin-bottom: 15%; */
    z-index: 1;
}

.editor-right {
    margin-left: 50%;
}

.editor-left {
    margin-right: 50%;
}

body {
    font-family: Arial;
    background-color: #272822;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 6.3%;
    overflow-x: hidden;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.light {
    background-color: white;
    color: #555555;
}

.dark {
    background-color: #272822;
}

.select-right {
    /* left: 38.9741%; */
    left: 90%;
    top: 6.5%;
    height: 10%;
    padding-right: 1%;
}

.nav-right {
    /* padding-right: 3.5%; */
}

.nav-left {
    padding-left: 3.5%;
}

.circle {
    background: #52575c;
    border-radius: 200px;
    color: white;
    height: 25px;
    width: 25px;
    display: table;
    margin-top: -10%;
}

.circle p {
    font-size: 8pt;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

select#langChoice {
   -webkit-appearance: button;
   -webkit-border-radius: 0px;
   /* -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); */
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#272822, #272822 40%, #272822);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 0px solid #fff;
   color: #555;
   font-size: inherit;
   font-weight: bold;
   overflow: hidden;
   padding: 10px 5px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 20%;
   border-radius: 0;
   margin-top: 0.2%;
}

.tab-content {
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
}

.centered img {
    width: 150px;
    border-radius: 50%;
}

.navbar {
    background-color: #31485F;
    width: 100% !important;
}

#example {
    color: white;
    font-size: 50px;
}

#CurrentPlayer {
    text-align: center;
    height: 50px;
}

#con {
    text-align: center;
    color: black;
}

#EnemyPlayer {
    text-align: center;
}

#Choice {
    text-align: left;
}

#naav {
    border-style: solid;
    border-color: silver;
    border-width: 3px;
}

pre {
    background: #E8E8E8;
    padding: 10px 15px;
    color: #555555;
    line-height: 1.6;
    font-size: 13px;
    border-radius: 3px;
}

.fa-clickable {
    cursor:pointer;
    outline:none;
}

.nav-icon {
    color: #555;
    margin-top: 0.8%;
    margin-left: 75%;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader-128x/Preloader_2.gif) center no-repeat #fff;
}
