#editor {
    position: absolute;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
}

body {
    font-family: Arial;
    background-color: #272822;
}

.circle {
    background: rgb(212, 212, 212);
    border-radius: 200px;
    color: #52575c;
    height: 25px;
    width: 25px;
    display: table;
}

.circle p {
    font-size: 8pt;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.tab-content {
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
}

.centered img {
    width: 150px;
    border-radius: 50%;
}

.navbar {
    background-color: #31485F;
    width: 100% !important;
}

#example {
    color: white;
    font-size: 50px;
}

#con {
    text-align: center;
    color: black;
}

#Choice {
    text-align: left;
}

#naav {
    border-style: solid;
    border-color: silver;
    border-width: 3px;
}

pre {
    background: #E8E8E8;
    padding: 10px 15px;
    color: #555555;
    line-height: 1.6;
    font-size: 13px;
    border-radius: 3px;
}

.nav-icon {
    color: #555;
    margin-top: 0.8%;
    margin-left: 75%;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader-128x/Preloader_2.gif) center no-repeat #fff;
}

.wrong-answer {
    background-color: rgb(238, 238, 238);
    border-radius: 3px;
    border: solid 1px #ccc;
    /* font-size: 15px; */
    display: flex;
    overflow-x: auto;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    flex: 1 1 0%;
}

.wrong-answer-value {
    cursor: pointer;
    font-size: 15px;
    line-height: 18px;
    min-height: 20px;
    max-height: 70px;
    white-space: pre-wrap;
    padding: 6px 10px;
}

.wrong-answer-text {
    font-size: 18px;
    margin-top: 6px;
}

.wrong-answer-row {
    margin-top: 20px;
}

.error-row {
    background-color: rgb(252, 228, 236);
    position: relative;
    border-radius: 3px;
    overflow: auto;
}

.error-value {
    color: rgb(233, 30, 99);
    font-size: 15px;
    white-space: pre-wrap;
    font-family: monospace;
}

.error {
    cursor: auto;
    display: flex;
    max-height: 650px;
    padding: 7px 10px;
}

.result-title {
    color: red;
    margin-bottom: 30px;
    margin-left: 12px;
}

.btn-group {
    margin-left: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(158, 158, 158, 0.3);
    border-radius: 0;
    outline: none;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.loader-gif {
    background-image: url(../images/loader-pacman-submit.gif);
    width: 2em !important;
    height: 2em !important;
    top: 30% !important;
    right: 30% !important;
}
