@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html, body {
    height: 100%;
}

body {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #171717;
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: 'Quicksand';
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../images/bg.png);
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
}

.lines .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.lines .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    -webkit-animation: run 7s 0s infinite;
    animation: run 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.lines .line:nth-child(1) {
    margin-left: -25%;
}

.lines .line:nth-child(1)::after {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.lines .line:nth-child(3) {
    margin-left: 25%;
}

.lines .line:nth-child(3)::after {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

@-webkit-keyframes run {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}

@keyframes run {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}

.result {
    position: absolute;
    top: 42%;
    left: 50%;
    margin-left: 33px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 800px;
    border-radius: 10px;
    padding: 55px;
}

.score {
    width: 350px;
    float: left;
    font-size: 20px;
    background-image: linear-gradient(to right, #449ce9, #7d58b9);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    text-align: center;
    display: inline-block border: 4px solid black;
    color: white;
}

table {
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
    height: 100%;
    float: left;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

thead tr {
    height: 60px;
    font-size: 16px;
    color: white;
}

tbody tr {
    height: 48px;
    border-bottom: 1px solid #E3F1D5;
}

td, th {
    text-align: center;
}

.total {
    font-weight: 600;
}

h1 {
    font: arial;
}

.logo {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 30%;
    left: 5%;
}

@font-face {
    font-family: mexcellent;
    src: url(../fonts/mexcellent.ttf);
}

.goodGame {
    margin-right: 20px;
    text-align: center;
    margin-bottom: 30px;
    top: 2%;
    font-family: mexcellent;
    font-size: 100px;
    background: -webkit-linear-gradient(#449ce9, #706ac7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn:link,
.btn:visited{
  text-decoration: none;
  position:relative;
  top:0;
  left:0;
  padding:20px 40px;
  display:inline-block;
  transition: all .5s;
  margin: 100px 0px 0px 265px;
  background-image: linear-gradient(to right, #449ce9, #7d58b9);
  color: white;
  font-weight: 600;
  border-radius: 100px;
}

.btn-white{
  background-image: linear-gradient(to right, #449ce9, #7d58b9);
  color:#000;
}

.btn:hover{
   box-shadow:0px 10px 10px rgba(0,0,0,0.2);
   transform : translateY(-3px);
}

.btn:active{
  box-shadow:0px 5px 10px rgba(0,0,0,0.2)
  transform:translateY(-1px);
}

.btn-bottom-animation-1{
  animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
  border-radius: 100px;
}

.btn-white::after {
    background-image: linear-gradient(to right, #449ce9, #7d58b9);
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader-128x/Preloader_2.gif) center no-repeat #fff;
}
