
<!DOCTYPE html>
<html lang='en' class=''>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>

<head>
    {{JSGlue.include()}}
</head>


</head>

<body>

    <form id="form" method="post" action="{{url_for('challenge', match_id=match_id)}}">
        
    </form>

    <script type="text/javascript">
        var match_id = '{{match_id}}';
    </script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js'></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-firestore.js"></script>
    <script src="{{url_for('static', filename='js/firebase.js')}}"></script>
    <script src="{{url_for('static', filename='js/loading.js')}}"></script>
    <!-- <script src="{{url_for('static', filename='js/homepage.js')}}"></script> -->


</body>

</html>
