<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang='en' class=''>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js'></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<head>
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/main.css')}}" />

</head>


</head>

<body>
    <div class="login">
        <h1>Code Brawl</h1>
        <input id="name" type="text" name="u" placeholder="Enter your Name" required="required" />
        <button id="Login" type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
        <div class="loader" id="LL"></div>
    </div>

    <script>
    </script>
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-firestore.js"></script>
    <script src="{{url_for('static', filename='js/firebase.js')}}"></script>
    <script src="{{url_for('static', filename='js/matchmaking.js')}}"></script>
    <!-- <script src="{{url_for('static', filename='js/homepage.js')}}"></script> -->


</body>

</html>
